.tempnimg {
  background-color: 1a202c;
  padding: 50px;
  box-shadow: black 0 5px 15px -3px;
}

.details {
  background-color: 1a202c;
  padding: 50px;
  box-shadow: black 0 5px 15px -3px;
}

.sun {
  width: 28px;
  margin-top: 10px;
}
